

.error {
  color: red;
  font-size: 16px;
}

 body > .grid {
  height: 100%;
}

#loginFormDiv {
  margin-top: 5%;
}

body {
  background: url('./SVG/bg.svg') no-repeat;
  background-size: cover;
  height: 70%;
}

#full {
  position: absolute;
  top: 20%;
  height: 200px;
}

#right {
  height: 200px;
  position: absolute;
  top: 60%;
  right: 5%;
  z-index: 1;
}

.column {
  max-width: 450px;
  margin-right: 10%;
}

.put-center {
  margin-top: 100px;
  margin-left: 28%;
}

.content {
  color: white;
}

.logo-div {
  text-align: right;
}

.logo-div ul {
  margin-top: 20px;
  list-style: none;
  color: rgb(63, 61, 61);
  margin-right: 5%;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}

.logo-div ul li {
  display: inline-block;
  margin-right: 40px;
  font-size: 15px;
}

#logo {
  font-size: 24px;
  padding-right: 40px;
}





/********************************************
  MODAL
********************************************/

.modal {
 /* Hidden by default */
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 30px 30px 30px 30px;
  border: 1px solid #888;
  width: 50%;
  margin-top: 10%;
  height: 450px;
  position: relative;
}

.closeX {
  color: #aaaaaa;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  right: 3%;
  top: 2%;

}

.closeX:hover,
.closeX:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.small-space {
 height: 50px;
}

/********************************************
  SIDE MENU
********************************************/

#sideMenu {
  background: #00b5ad;
  max-width: 250px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
}

#sideMenu h2 {
  text-align: center;
  color: 	white;
  font-size: 30px;
  letter-spacing: 1px;
  font-family: 'Fredoka One', cursive;
  margin-top: 20px;
}

nav {
  padding-top: 80px;
}

nav a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 28px 30px;
  font-weight: 300;
  font-size: 16px;
  /* transition: all 0.3s ease-in-out; */
  font-family: 'Montserrat', sans-serif;
}

nav a:hover {
  background: #02aca3;
  /* padding: 20px 30px 15px 25px; */
  color: #ffdd00;
}

.fas, .fal {
  color: rgb(236, 228, 228);
  font-size: 1.7rem;
  margin-right: 0.8rem;
  display: inline-block;
  width: 30px;
  position: relative;
  top: 2px;
}

/* .icon-border {
  border: 1px solid white;
  border-radius: 10%;
} */

/********************************************
  HEADER
********************************************/

header {
  margin-left: 250px;
  padding: 30px;
  background: white;
  border-bottom: 1px solid #cac7c7;;
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 254, 254);
}

header .fas {
  margin-right: 20px;
}

.search-area {
  display: inline-block;
  width: 50%;
}

input[type="text"] {
  /* background: #fff;
  border: 1px solid;
  font-size: 1.3rem;
  border-radius: 5px;
  color: black;
  padding: 10px;
  font-weight: 100; */
  font-size: 1.1rem;
  width: 70%;
}

.user-area {
  margin-left: 30%;
}


.user-area a {
  padding: 10px;
  border: rgb(168, 166, 166) 1px solid;
  border-radius: 15%;
  color: #00b5ad;
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}


/********************************************
  EMAIL CONTAINER
********************************************/
#email-container {
  display: inline-block;
  margin-left: 300px;
  padding-top: 40px;
  /* height: 100%;
  weight: 70%; */
}

.ui.dividing.header {
  width: 900px;
  font-weight: 300;
  font-size: 1.1em;
}

.date-paragraph {
  float: right;
  font-size: 1em;
}

.email-message {
  text-align: justify;
  width: 895px;
}

.fa-trash-alt {
  font-size: 15px;
  color: black;
}

.ui.basic.table {
  width: 900px;
}
